@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Fjalla+One');
@import "font-awesome";
.box {
   
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 20px;
}

.box-1 {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  height: 300px;
  margin: 1rem;
  position: relative;
  width: 300px;

}

.shadow {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

h1, h2, h3, h4, h5, h6 {
  margin:0;
  padding:0;
}

body {
  background: image_url('doodles.png')

}

.navbar {
  background: image_url('green_dust_scratch.png');
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

}


.navbar-light .navbar-brand {
  color: #333300;
  font-family: 'Fjalla One', sans-serif;
  fotn-size: 28px;
  letter-spacing: -0.3px;
}